$color-primary: hsl(26, 100%, 55%);
$color-bone: #F4F4F4;
$color-black: #000;
$color-white: #fff;
$color-grey: #dee2e6;
$color-grey-dark: #adadad;

$font-body:'Poppins',
sans-serif;
$font-headings: 'PT Sans Narrow',
sans-serif;

$padding: 0 20rem;