$color-primary: #72EFDD;
$color-bone: #F4F4F4;
$color-black: #000;
$color-white: #fff;
$color-grey: #dee2e6;

$font-body:'Poppins',
sans-serif;
$font-headings: 'PT Sans Narrow',
sans-serif;

$padding: 0 20rem;